body {
           background-image: url("C:/Users/Admin/Desktop/HTML/image/coffeee.jpg");
           background-size: cover;
           font-family: aptos, sans-serif;
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
           margin: 0;
}
.menu {
            background-color: rgba(245, 222, 179, 0.9);
            padding: 10px 60px;
            border-radius: 10px;
            text-align: center;
}
.menu hr {
            border: 20;
            border-top: 1px solid #000;
            margin: 5px 0;
}
.menu section-title {
            font-size: 1.5em;
            margin-top: 0px;
}
.menu ul {
            list-style: none;
            padding: 0;
}
.menu ul li {
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
            font-size: 0.9em;
}